.footer {
    position: relative;
    width: 100%;
    color: $white;
    padding: 60px 0;
    background: linear-gradient(-135deg, $gradient-start, $gradient-end);
    border-top-left-radius: 95px;
    border-top-right-radius: 95px;

    &::before {
        content: url("../media/images/half-circle.svg");
        position: absolute;
        opacity: 0.8;
        top: -20%;
        left: 0;
        height: 100px;
        width: 120px;
    }

    &::after {
        content: url("../media/images/half-circle.svg");
        position: absolute;
        transform: rotateY(180deg);
        opacity: 0.8;
        top: -20%;
        right: 0;
        height: 100px;
        width: 120px;
    }

    .footer-wrapper {
        position: relative;
        z-index: 2;
        height: 100%;
        width: 100%;
    }

    .footer-contact-info {
        .contact-info-wrapper {
            display: flex;
            flex-flow: column;
            gap: 10px;

            .image-wrapper {
                display: flex;
                height: 40px;
                width: 40px;
                justify-content: center;
                align-items: center;
                background: linear-gradient(135deg, $gradient-start, $gradient-end);
                border-radius: 5px;
                -webkit-box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.82);
                -moz-box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.82);
                box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.82);
            }

            .tel, .email, .location {
                display: flex;
                flex-flow: row;
                align-items: center;
                gap: 10px;

                p {
                    margin: 0;
                }
            }
        }
    }

    .form-wrapper {
        padding: 20px;
        border-radius: 10px;
        background: linear-gradient(135deg, $gradient-start, $gradient-end);

        form {
            display: flex;
            flex-flow: column;
            gap: 10px;

            .form-group {

                &:nth-child(4) {
                    .input {
                        height: 150px;
                    }
                }

                .input {
                    border: none;
                    color: $white;

                    &::placeholder {
                        color: darken($white, 30%);
                    }
                }
            }

            .contact-submit-btn {
                display: inline-block;

                &:hover {
                    background: lighten($primary, 5%);
                }
            }
        }
    }
}
